.app {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  animation: 10s linear;
}

.app-wrapper {
  flex-grow: 1;
}

#player {
  color: red;
}

.row {
  flex-flow: row nowrap;
}

.center-sb {
  align-items: center;
  justify-content: space-between;
}

.center-sa {
  align-items: center;
  justify-content: space-around;
}

.title, .controllers, .row {
  display: flex;
}

.title {
  flex-flow: column;
  padding: 10px 0;
}

.controllers {
  padding: 10px 0;
}

button {
  min-width: 100px;
  padding: 5px 2px;
  border-radius: 10px;
  background: aqua;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .2s;
  margin-right: 5px;
}

button:hover {
  background: red;
}

.text-dancer {
  text-shadow: 0 0 0 red;
  animation: 10s infinite cubic-bezier(0.1, -0.6, 0.2, 0);
}

@keyframes loopLast {
  0% {
    background: #4d4d4d;
  }
  100% {
    background: white;
  }
}

@keyframes textDancer {
  0% {
    text-shadow: -15px 0 15px #0000ff;
  }
  25% {
    text-shadow: 0 10px 10px #fff282;
  }
  50% {
    text-shadow: 10px -5px 10px orange;
  }
  75% {
    text-shadow: -5px 10px 10px #ff1c29;
  }
  100% {
    text-shadow: -10px 0 15px green;
  }
}

@keyframes loop {
  0% {
    background: #000;
  }
  5% {
    background: #80f8ff;
  }
  10% {
    background: #ff5605;
  }
  15% {
    background: #00b320;
  }
  20% {
    background: #797979;
  }
  25% {
    background: #0000ff;
  }
  30% {
    background: #5fff6b;
  }
  35% {
    background: rgba(231, 214, 133, 0.43);
  }
  40% {
    background: #448aff;
  }
  50% {
    background: yellow;
  }
  55% {
    background: #ff35ab;
  }
  60% {
    background: #3c2aff;
  }
  65% {
    background: #ff5800;
  }
  70% {
    background: #95ffd7;
  }
  75% {
    background: #1dff6a;
  }
  80% {
    background: #0762ff;
  }
  85% {
    background: #ff1455;
  }
  90% {
    background: #ff9e9b;
  }
  95% {
    background: #0412f8;
  }
  100% {
    background: red;
  }
}